<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<body>

<form th:action="@{/admin/users}" th:method="POST" th:object="${user}">
    <table>
        <tr>
            <td>
                <label for="name">Enter name:</label>
            </td>
            <td>
                <input id="name" th:field="*{username}" type="text"/>
                <div class="error-message" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Name Error
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="age">Enter password: </label>
            </td>
            <td>
                <input id="age" th:field="*{password}" type="text"/>
                <div class="error-message" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password
                    Error
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">Enter email:</label>
            </td>
            <td>
                <input id="email" th:field="*{email}" type="text"/>
                <div class="error-message" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email Error</div>
            </td>
        </tr>
        <tr>

            <td>
                <label><input th:field="*{roles}" type="checkbox" value="1"> Пользователь</label><br>
                <label><input th:field="*{roles}" type="checkbox" value="2"> Администратор</label>
                <div class="error-message" th:errors="*{roles}" th:if="${#fields.hasErrors('roles')}">Ошибка выбора
                    ролей
                </div>
            </td>
        </tr>

    </table>

    <input type="submit" value="Create!"/>
</form>

<a th:href="@{/logout}">Выход</a>
<a th:href="@{/admin/users}">Назад</a>


</body>
</html>


<!--<body>-->

<!--<form th:method="POST" th:action="@{/people}" th:object="${user}">-->
<!--    <label for="name">Enter name: </label>-->
<!--    <input type="text" th:field="*{name}" id="name"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>-->
<!--    <br/>-->
<!--    <label for="age">Enter age: </label>-->
<!--    <input type="text" th:field="*{age}" id="age"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>-->
<!--    <br/>-->
<!--    <label for="email">Enter email: </label>-->
<!--    <input type="text" th:field="*{email}" id="email"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>-->
<!--    <br/>-->
<!--    <input type="submit" value="Create!"/>-->
<!--</form>-->

<!--</body>-->